<style>

</style>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <span class="title has-text-accent">Game</span><span class="title has-text-accent-secondary">Nexus</span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">
        Strona główna
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Społeczność
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/profile">
            Mój profil
          </a>
          <a class="navbar-item" routerLink="/friends">
            Znajomi
          </a>
          <a class="navbar-item" routerLink="/groups">
            Grupy
          </a>
          <a class="navbar-item" routerLink="/messages">
            Wiadomości
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Wydarzenia
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/tournaments">
            Turnieje
          </a>
          <a class="navbar-item" routerLink="/esports">
            Esport
          </a>
          <a class="navbar-item" routerLink="/events">
            Nadchodzące wydarzenia
          </a>
          <a class="navbar-item" routerLink="/create-event">
            Utwórz wydarzenie
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Gry
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/games">
            Przeglądaj gry
          </a>
          <a class="navbar-item" routerLink="/recommendations">
            Rekomendacje
          </a>
          <a class="navbar-item" routerLink="/strategies">
            Strategie
          </a>
          <a class="navbar-item" routerLink="/teams">
            Drużyny
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Więcej
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="/about">
            O nas
          </a>
          <a class="navbar-item" routerLink="/contact">
            Kontakt
          </a>
          <a class="navbar-item" routerLink="/faq">
            FAQ
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" routerLink="/report">
            Zgłoś problem
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" routerLink="/signup">
            <strong>Zarejestruj się</strong>
          </a>
          <a class="button is-info" routerLink="/login">
            Zaloguj się
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<main class="main">
  <p class="has-text-red">
    Hello world!
  </p>
</main>

<router-outlet />
